<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render 'shared/errors_explanation', object: f.object %>

   <div><%= f.label :name %><br />
   <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :role_ids %><br />
  <%= f.select :role_ids, options_from_collection_for_select([Role.author_role, Role.censor_role], "id", "name") %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
