<h1><%= @article.title %></h1>
<% if current_user %>
    <p>
      <b>Status: </b>
      <%= status_str %>
    </p>
<%end%>
<p>
  <b>Category: </b>
  <%= @article.category.title %>
</p>
<% if censor_article? %>
    <p>
      <b>Authors:</b>
    <ul id='authors'>
      <% @article.authors.each do |author| %>
          <li><%= author.fullname %></li>
      <% end %>
    </ul>
    </p>
<% end %>
<b>Downloads:</b>
<ul>
  <%= data_file_link 'Download article', @article.article %>
  <%= data_file_link 'Download russian resume', @article.resume_rus %>
  <%= data_file_link 'Download english resume', @article.resume_eng %>
  <%= data_file_link 'Download cover note', @article.cover_note %>
  <%= data_file_link 'Download review', @article.review %>
</ul>
<% if @article.censor %>
    <b>Censor:</b>
    <%= @article.censor.fullname %>
    Post:
    <%= @article.censor.post %>
    Degree:
    <%= @article.censor.degree %>
<% end %>
<% if reject_reason_exist? %>
    <div>
      <b>Reject reason: </b>
      <%= @article.reject_reason %>
    </div>
<% end %>