<h1>Article</h1>
<p>
  <b>Status: </b>
  <%= status_str %>
</p>
<p>
  <b>Title:</b>
  <%= @article.title %>
</p>
<p>
  <b>Authors:</b>
      <ul>
        <% @article.authors.each do |author| %>
            <li>Name: <%= author.fullname %></li>
        <% end %>
  </ul>
</p>
<b>Downloads:</b>
<ul>
  <li><%= link_to 'Download article', "#{root_url}#{@article.article.filename}" %></li>
  <li><%= link_to 'Download russian resume', "#{root_url}#{@article.resume_rus.filename}" %></li>
  <li><%= link_to 'Download english resume', "#{root_url}#{@article.resume_eng.filename}" %></li>
  <li><%= link_to 'Download cover note', "#{root_url}#{@article.cover_note.filename}" %></li>
  <% if @article.review  %>
    <li><%= link_to 'Download review', "#{root_url}#{@article.review.filename}" %></li>
  <% end %>
</ul>
<% if @article.censor %>
    <b>Censor:</b>
    <%= @article.censor.fullname %>
    Post:
    <%= @article.censor.post %>
    Degree:
    <%= @article.censor.degree %>
<% end %>