<%= render 'shared/errors_explanation', object: @article %>
<h1>Edit article</h1>
<%= render template: 'articles/_show' %>
<%= form_for @article do |f| %>
    <% if current_role? :censor %>
        <%= f.hidden_field :status, value: Article::STATUS_REVIEWED, id: 'status_field' %>
        <div>
          Review:
          <%= f.file_field :review %>
        </div>
        <div class="one_line_item">
          <%= hidden_field_tag :reject, 0 %>
          <%= check_box_tag :reject, '1', false,
                            { id: 'reject_cb', onclick: 'changeVisibilityAndStatus("reject_cb", "reject_reason", "status_field");' } %> Reject
        </div>
    <% end %>
    <div class="hidden_tag" id='reject_reason'>
      <%= f.label :reject_reason %>
      <%= f.text_area :reject_reason, id: 'reject_reason_text' %>
    </div>
    <% if current_role? :admin %>
        <div>
          <% case @article.status %>
          <% when Article::STATUS_CREATED %>
              <b>Select censor:</b> <br/>
              <%= f.hidden_field :status, value: Article::STATUS_TO_REVIEW %>
              <%= f.select :censor_id, options_from_collection_for_select(approved_censors, "id", "fullname") %> <br />
          <% when Article::STATUS_REVIEWED .. Article::STATUS_REJECTED_BY_CENSOR %>
              <b>Approve:</b>
              <%= f.radio_button :status, Article::STATUS_APPROVED, { onclick: "hide('reject_reason');" } %> <br/>
              <b>Reject:</b>
              <%= f.radio_button :status, Article::STATUS_REJECTED, {
                      onclick: "show_and_fill('reject_reason','reject_reason_text', '#{@article.reject_reason}');" }  %> <br/>
          <% end %>
        </div>
    <% end %>
    <div>
      <%= f.submit %>
    </div>
<% end %>