<h1>New journal</h1>
<%= form_for @journal do |f| %>
    <%= render 'shared/errors_explanation', object: f.object %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :num, 'Number' %>
      <%= f.text_field :num %>
    </div>
    <div>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :title, { },
                              { onchange: "clear_select('selected_articles');", data: { remote: true, url: new_journal_path } } %>
    </div>
    <div id='articles' class="vertical_centered" >
      <%= render 'articles'%>
    </div>
    <div class="vertical_centered">
      <%= button_tag '>', { type: 'button', onclick: "appendAndSelectAll('available_articles','selected_articles', 'selected_articles'); return false;" } %> <br/>
      <%= button_tag '<',  { type: 'button', onclick: "appendAndSelectAll('selected_articles','available_articles', 'selected_articles'); return false;" } %>
    </div>
    <div class="vertical_centered">
      Journal articles: <br/>
      <%= f.select :article_ids, [], {}, { id: 'selected_articles', multiple: true } %> <br/>
    </div>
    <div>
      <%= f.label :journal_file, 'PDF file:' %>
      <%= f.file_field :journal_file %>
    </div>
    <div>
      <%= f.label :cover_image, accept: 'image/jpeg' %>
      <%= f.file_field :cover_image %>
    </div>
    <div>
      <%= f.submit %>
    </div>
<% end %>