<% content_for :content do %>
    <div class="nav pull-left">
        <ul class="nav nav-list">
            <li class="nav-header">User info</li>
            <li><%= link_to 'Show info', show_profile_path  %></li>
            <li><%= link_to 'Edit account', edit_user_registration_path(current_user) %></li>
            <li class="nav-header">Personal info</li>
            <li><%= link_to 'Edit personal info', edit_personal_path %></li>
        </ul>
     </div>
    <div class='row'>
      <div class="span4">
        <%= yield %>
      </div>
    </div>
<% end %>
<%= render template: 'layouts/application' %>